<main class="center window">
  <h1>Borrar usuario:</h1>
  <p>{{session.user}}, ¿Estás seguro que quieres eliminar tu cuenta de Objetos Perdidos?</p>
  <p>No podrás añadir nuevos objetos a la lista</p>
  <div class="twobuttons">
    <a href="/usuario/perfil" class="button">No</a>
    <a href="/usuario/eliminar" class="button warning">Si</a>
  </div>
</main>