<main class="center window">
  <h1>Registro correcto</h1>
  <p>
    {{#if user}}{{user}}, {{/if}}{{message}}</p>
  <a href="/" class="button">Inicio</a>
  <a href="{{link}}" class="button">{{button}}</a>
</main>