<main class="center window home">
  <h1>Objetos perdidos</h1>
  <p>¿Qué desea hacer?</p>
  <a href="/objeto/lista" class="button">Ver lista de objetos</a>
  {{#if session.logged}}
  <a href="/objeto/nuevo" class="button">Añadir nuevo objeto</a>
  {{/if}}
</main>